# Archivos generados por Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de compilación
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.vspscc
*.vssscc

# Archivos de publicación
*.publishsettings
*.pubxml
*.pubxml.user

# Archivos de configuración
secrets.json

# Archivos de paquetes
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de Rider
.idea/
*.sln.iml